In [2]:
# Initial imports
import pandas as pd

In [3]:
# Loading data
df_Naplan = pd.read_csv("Naplan_results.csv")
df_Naplan.head(5)

,CALENDAR_YEAR,YEAR_LEVEL,DOMAIN,STATE,SUBGROUP,ENROLLED_STUDENTS,MEAN,MEAN_CI,MEAN_SD,NMS,...,PCTL05,PCTL20,PCTL80,PCTL95,TREND,TREND_VALUE,NOD_MEAN_PREV,NOD_NMS_PREV,NOD_MEAN_BASE,NOD_NMS_BASE
0,2008,3,Grammar and Punctuation,ACT,All,4366.0,419.6,6.2,83.1,93.6,...,276.5,350.1,490.2,551.7,Flat,434.8,NaN,NaN,NaN,NaN
1,2008,3,Grammar and Punctuation,ACT,Parental Education: Bachelor,167.0,445.2,NaN,79.7,95.8,...,308.7,381.3,513.0,565.4,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,3,Grammar and Punctuation,ACT,Parental Education: Certificate,72.0,396.1,NaN,91.0,90.0,...,240.9,319.4,476.6,546.1,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,3,Grammar and Punctuation,ACT,Parental Education: Diploma,52.0,401.4,NaN,69.1,96.9,...,283.7,342.1,456.3,519.2,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,3,Grammar and Punctuation,ACT,Parental Education: Not stated,4009.0,419.8,NaN,82.7,93.7,...,278.0,351.0,489.8,551.1,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cols= df_Naplan.columns
cols

Index(['CALENDAR_YEAR', 'YEAR_LEVEL', 'DOMAIN', 'STATE', 'SUBGROUP',
       'ENROLLED_STUDENTS', 'MEAN', 'MEAN_CI', 'MEAN_SD', 'NMS', 'NMS_CI',
       'GAIN', 'GAIN_CI', 'EXEMPT', 'ABSENT', 'ASSESSED', 'WITHDRAWN',
       'NONATTEMPT', 'PARTICIPATION_RATE', 'PARTICIPATION_NUMBER',
       'NOT_STATED', 'AVERAGE_AGE', 'YEARS_OF_SCHOOLING', 'BANDCOL1',
       'BANDCOL2', 'BANDCOL3', 'BANDCOL4', 'BANDCOL5', 'BANDCOL6', 'PCTL05',
       'PCTL20', 'PCTL80', 'PCTL95', 'TREND', 'TREND_VALUE', 'NOD_MEAN_PREV',
       'NOD_NMS_PREV', 'NOD_MEAN_BASE', 'NOD_NMS_BASE'],
      dtype='object')

In [5]:
col_drop= ['NONATTEMPT','NMS_CI', 'NOT_STATED','AVERAGE_AGE', 'YEARS_OF_SCHOOLING','TREND', 'TREND_VALUE','WITHDRAWN','NOD_MEAN_PREV','NOD_NMS_PREV', 'NOD_MEAN_BASE', 'NOD_NMS_BASE','GAIN_CI', 'GAIN', 'MEAN_CI',  'MEAN_CI', 'MEAN_SD', 'PCTL05',
       'PCTL20', 'PCTL80', 'PCTL95']

In [6]:
df_Naplan.drop(columns=col_drop, axis=1, inplace=True)

In [7]:
df_Naplan = df_Naplan[df_Naplan['YEAR_LEVEL'] > 3]
df_Naplan = df_Naplan[df_Naplan['STATE'] == "AUS"]
df_Naplan

,CALENDAR_YEAR,YEAR_LEVEL,DOMAIN,STATE,SUBGROUP,ENROLLED_STUDENTS,MEAN,NMS,EXEMPT,ABSENT,ASSESSED,PARTICIPATION_RATE,PARTICIPATION_NUMBER,BANDCOL1,BANDCOL2,BANDCOL3,BANDCOL4,BANDCOL5,BANDCOL6
689,2008,5,Grammar and Punctuation,AUS,All,271423.0,496.2,91.9,1.5,2.7,95.0,96.9,263126,6.5,11.0,21.3,26.4,19.9,13.4
690,2008,5,Grammar and Punctuation,AUS,Parental Education: Bachelor,41041.0,533.4,96.9,1.2,1.7,96.8,98.0,40233,1.9,5.1,14.3,25.8,26.7,24.9
691,2008,5,Grammar and Punctuation,AUS,Parental Education: Certificate,41794.0,484.9,92.0,1.4,1.9,96.4,97.8,40871,6.5,13.0,24.7,28.2,17.7,8.4
692,2008,5,Grammar and Punctuation,AUS,Parental Education: Diploma,22002.0,503.6,94.5,1.4,1.9,96.5,97.9,21547,4.1,9.2,21.2,28.9,21.9,13.3
693,2008,5,Grammar and Punctuation,AUS,Parental Education: Not stated,128634.0,494.8,91.8,1.2,3.5,94.9,96.2,123691,7.0,11.0,21.3,26.3,19.7,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57990,2022,9,Writing,AUS,Outer regional,25648.0,531.2,74.3,1.8,13.2,80.0,82.1,21067,23.9,22.5,24.0,17.9,7.4,2.5
57991,2022,9,Writing,AUS,Remote,3188.0,514.5,66.2,2.8,17.7,76.4,79.6,2537,31.0,21.2,21.4,15.1,6.7,1.7
57992,2022,9,Writing,AUS,Very remote,2016.0,429.9,34.4,1.0,47.6,47.7,49.4,996,64.6,15.4,10.7,5.8,1.9,0.6
57993,2022,9,Writing,AUS,Parental Education: Year 11,26319.0,502.4,62.1,4.2,19.4,71.3,76.1,20016,33.8,24.8,21.1,11.6,3.8,0.8
57994,2022,9,Writing,AUS,Parental Education: Year 12,19341.0,539.9,78.1,2.3,10.3,83.1,85.7,16580,19.5,22.2,26.1,19.4,8.0,2.4

In [8]:
df_Naplan.isna().sum()

CALENDAR_YEAR           0
YEAR_LEVEL              0
DOMAIN                  0
STATE                   0
SUBGROUP                0
ENROLLED_STUDENTS       0
MEAN                    0
NMS                     0
EXEMPT                  0
ABSENT                  0
ASSESSED                0
PARTICIPATION_RATE      0
PARTICIPATION_NUMBER    0
BANDCOL1                0
BANDCOL2                0
BANDCOL3                0
BANDCOL4                0
BANDCOL5                0
BANDCOL6                0
dtype: int64

In [9]:
df_Naplan.reset_index(drop=True, inplace=True)
df_Naplan.head()

,CALENDAR_YEAR,YEAR_LEVEL,DOMAIN,STATE,SUBGROUP,ENROLLED_STUDENTS,MEAN,NMS,EXEMPT,ABSENT,ASSESSED,PARTICIPATION_RATE,PARTICIPATION_NUMBER,BANDCOL1,BANDCOL2,BANDCOL3,BANDCOL4,BANDCOL5,BANDCOL6
0,2008,5,Grammar and Punctuation,AUS,All,271423.0,496.2,91.9,1.5,2.7,95.0,96.9,263126,6.5,11.0,21.3,26.4,19.9,13.4
1,2008,5,Grammar and Punctuation,AUS,Parental Education: Bachelor,41041.0,533.4,96.9,1.2,1.7,96.8,98.0,40233,1.9,5.1,14.3,25.8,26.7,24.9
2,2008,5,Grammar and Punctuation,AUS,Parental Education: Certificate,41794.0,484.9,92.0,1.4,1.9,96.4,97.8,40871,6.5,13.0,24.7,28.2,17.7,8.4
3,2008,5,Grammar and Punctuation,AUS,Parental Education: Diploma,22002.0,503.6,94.5,1.4,1.9,96.5,97.9,21547,4.1,9.2,21.2,28.9,21.9,13.3
4,2008,5,Grammar and Punctuation,AUS,Parental Education: Not stated,128634.0,494.8,91.8,1.2,3.5,94.9,96.2,123691,7.0,11.0,21.3,26.3,19.7,13.5

In [10]:
df_Naplan.to_json('Naplan_results_clean.json',orient='records' )