In [26]:
#import dependancies
import pandas as pd
from sqlalchemy import create_engine

database_path = pd.read_csv('Resources/Naplan_results_clean.csv')

#"postgresql+psycopg2://naplan_user:naplan_user@localhost/NAPLAN_DB"

In [27]:
engine = create_engine('sqlite:///NAPLAN_SQLDB')
database_path.to_sql('naplan_results_clean', engine, index=False, if_exists='replace')
print(database_path.head())

   CALENDAR_YEAR  YEAR_LEVEL                   DOMAIN STATE  \
0           2008           3  Grammar and Punctuation   ACT
1           2008           3  Grammar and Punctuation   ACT
2           2008           3  Grammar and Punctuation   ACT
3           2008           3  Grammar and Punctuation   ACT
4           2008           3  Grammar and Punctuation   ACT

                          SUBGROUP  ENROLLED_STUDENTS   MEAN  MEAN_CI  \
0     Parental Education: Bachelor                167  445.2      NaN
1  Parental Education: Certificate                 72  396.1      NaN
2      Parental Education: Diploma                 52  401.4      NaN
3   Parental Education: Not stated               4009  419.8      NaN
4                        Non-LBOTE               3852  421.2      6.2

   MEAN_SD   NMS  ...  BANDCOL5  BANDCOL6  PCTL05  PCTL20  PCTL80  PCTL95  \
0     79.7  95.8  ...      23.4      37.0   308.7   381.3   513.0   565.4
1     91.0  90.0  ...      15.3      20.3   240.9   319.4   476.6   546.1
2     69.1  96.9  ...      24.2      12.3   283.7   342.1   456.3   519.2
3     82.7  93.7  ...      23.5      23.9   278.0   351.0   489.8   551.1
4     82.5  94.4  ...      23.7      24.6   279.6   352.5   491.1   552.4

   NOD_MEAN_PREV  NOD_NMS_PREV  NOD_MEAN_BASE  NOD_NMS_BASE
0            NaN           NaN            NaN           NaN
1            NaN           NaN            NaN           NaN
2            NaN           NaN            NaN           NaN
3            NaN           NaN            NaN           NaN
4            NaN           NaN            NaN           NaN

[5 rows x 37 columns]

In [31]:
query = 'SELECT * FROM naplan_results_clean'
data = pd.read_sql_query(query, engine)

print(data.head(30))

    CALENDAR_YEAR  YEAR_LEVEL                   DOMAIN STATE  \
0            2008           3  Grammar and Punctuation   ACT
1            2008           3  Grammar and Punctuation   ACT
2            2008           3  Grammar and Punctuation   ACT
3            2008           3  Grammar and Punctuation   ACT
4            2008           3  Grammar and Punctuation   ACT
5            2008           3  Grammar and Punctuation   ACT
6            2008           3  Grammar and Punctuation   ACT
7            2008           3  Grammar and Punctuation   ACT
8            2008           3  Grammar and Punctuation   ACT
9            2008           3  Grammar and Punctuation   ACT
10           2008           3  Grammar and Punctuation   ACT
11           2008           3  Grammar and Punctuation   ACT
12           2008           3  Grammar and Punctuation   ACT
13           2008           3  Grammar and Punctuation   ACT
14           2008           3  Grammar and Punctuation   ACT
15           2008           3  Grammar and Punctuation   NSW
16           2008           3  Grammar and Punctuation   NSW
17           2008           3  Grammar and Punctuation   NSW
18           2008           3  Grammar and Punctuation   NSW
19           2008           3  Grammar and Punctuation   NSW
20           2008           3  Grammar and Punctuation   NSW
21           2008           3  Grammar and Punctuation   NSW
22           2008           3  Grammar and Punctuation   NSW
23           2008           3  Grammar and Punctuation   NSW
24           2008           3  Grammar and Punctuation   NSW
25           2008           3  Grammar and Punctuation   NSW
26           2008           3  Grammar and Punctuation   NSW
27           2008           3  Grammar and Punctuation   NSW
28           2008           3  Grammar and Punctuation   NSW
29           2008           3  Grammar and Punctuation   NSW

                                 SUBGROUP  ENROLLED_STUDENTS   MEAN  MEAN_CI  \
0            Parental Education: Bachelor                167  445.2      NaN
1         Parental Education: Certificate                 72  396.1      NaN
2             Parental Education: Diploma                 52  401.4      NaN
3          Parental Education: Not stated               4009  419.8      NaN
4                               Non-LBOTE               3852  421.2      6.2
5                                  Female               2154  431.2      6.9
6                              Indigenous                107  352.2     19.7
7                                    Male               2212  408.2      7.3
8                                   LBOTE                405  401.7     12.0
9                          Non-Indigenous               4172  421.6      6.0
10           Parental Occupation: Group 1                149  441.4      NaN
11           Parental Occupation: Group 2                 75  423.1      NaN
12           Parental Occupation: Group 3                 61  396.7      NaN
13        Parental Occupation: Not stated               4032  419.6      NaN
14            Parental Education: Year 12                 41  408.3      NaN
15           Parental Education: Bachelor              14929  454.9      NaN
16        Parental Education: Certificate              14884  403.8      NaN
17            Parental Education: Diploma               7605  423.3      NaN
18         Parental Education: Not stated              37753  416.9      NaN
19                              Non-LBOTE              69362  418.0      1.9
20                                 Female              43043  428.1      1.9
21                             Indigenous               3667  347.1      3.6
22                                   Male              45079  406.7      2.1
23                                  LBOTE              17395  415.2      3.6
24                         Non-Indigenous              80570  420.2      1.8
25           Parental Occupation: Group 1              11429  450.1      NaN
26           Parental Occupation: Group 2              12266  429.8      NaN
27           Parental Occupation: Group 3              10841  412.9      NaN
28           Parental Occupation: Group 4               8307  399.9      NaN
29  Parental Occupation: Not in paid work               4221  374.1      NaN

    MEAN_SD   NMS  ...  BANDCOL5  BANDCOL6  PCTL05  PCTL20  PCTL80  PCTL95  \
0      79.7  95.8  ...      23.4      37.0   308.7   381.3   513.0   565.4
1      91.0  90.0  ...      15.3      20.3   240.9   319.4   476.6   546.1
2      69.1  96.9  ...      24.2      12.3   283.7   342.1   456.3   519.2
3      82.7  93.7  ...      23.5      23.9   278.0   351.0   489.8   551.1
4      82.5  94.4  ...      23.7      24.6   279.6   352.5   491.1   552.4
5      78.9  96.5  ...      24.7      27.9   299.6   364.2   498.0   559.0
6      86.7  81.3  ...      13.3       7.9   227.1   280.7   430.7   503.0
7      85.5  90.8  ...      21.8      20.5   259.6   335.4   481.6   542.6
8      86.1  86.1  ...      20.6      17.5   248.4   329.1   475.5   538.6
9      82.1  94.1  ...      23.6      24.7   280.5   353.2   491.4   552.0
10     82.7  95.7  ...      22.1      35.3   304.0   364.8   513.5   570.6
11     71.9  97.3  ...      21.3      25.1   296.2   365.4   489.9   532.7
12     87.8  91.5  ...      15.4      18.7   247.2   329.8   472.4   548.2
13     82.9  93.7  ...      23.5      23.9   276.6   350.7   489.8   551.1
14     84.4  92.7  ...      14.1      22.0   279.8   341.3   484.1   549.5
15     73.6  98.0  ...      28.0      38.0   328.5   395.0   516.1   572.4
16     74.4  95.2  ...      23.3      15.6   277.5   339.7   466.7   524.0
17     73.7  96.8  ...      27.2      22.7   295.3   361.9   484.9   539.8
18     81.9  95.0  ...      23.2      23.1   277.2   347.5   487.0   547.4
19     80.6  95.5  ...      24.0      23.1   280.2   349.8   486.6   546.1
20     77.4  96.9  ...      25.9      26.1   295.7   362.9   493.8   551.8
21     77.8  82.2  ...      11.7       4.6   222.8   279.3   415.4   475.2
22     82.7  93.5  ...      21.7      19.6   266.8   335.6   477.4   539.8
23     81.4  94.2  ...      23.0      21.8   276.6   346.0   484.4   546.4
24     79.4  95.8  ...      24.3      23.5   284.4   353.2   487.6   547.1
25     76.0  98.0  ...      27.4      36.4   318.4   388.1   513.9   570.3
26     73.4  97.5  ...      27.8      25.3   303.3   369.4   491.1   546.8
27     74.0  96.2  ...      24.9      18.7   286.3   350.9   475.1   532.0
28     79.5  93.8  ...      21.0      16.2   268.5   330.7   467.4   530.8
29     79.7  88.3  ...      15.9       9.7   246.6   302.9   442.3   506.8

    NOD_MEAN_PREV  NOD_NMS_PREV  NOD_MEAN_BASE  NOD_NMS_BASE
0            None          None           None          None
1            None          None           None          None
2            None          None           None          None
3            None          None           None          None
4            None          None           None          None
5            None          None           None          None
6            None          None           None          None
7            None          None           None          None
8            None          None           None          None
9            None          None           None          None
10           None          None           None          None
11           None          None           None          None
12           None          None           None          None
13           None          None           None          None
14           None          None           None          None
15           None          None           None          None
16           None          None           None          None
17           None          None           None          None
18           None          None           None          None
19           None          None           None          None
20           None          None           None          None
21           None          None           None          None
22           None          None           None          None
23           None          None           None          None
24           None          None           None          None
25           None          None           None          None
26           None          None           None          None
27           None          None           None          None
28           None          None           None          None
29           None          None           None          None

[30 rows x 37 columns]

In [51]:
grouped_data = data.groupby('YEAR_LEVEL')
average_score_by_year = grouped_data['MEAN'].mean().round(0)

print(average_score_by_year)

YEAR_LEVEL
3    391.0
5    470.0
7    517.0
9    556.0
Name: MEAN, dtype: float64

In [53]:
grouped_data = data.groupby(['YEAR_LEVEL', 'CALENDAR_YEAR'])
mean_score_by_year_level_calendar_year = grouped_data['MEAN'].mean().round(0)
print(mean_score_by_year_level_calendar_year)

YEAR_LEVEL  CALENDAR_YEAR
3           2008             387.0
            2009             392.0
            2010             389.0
            2011             393.0
            2012             395.0
            2013             396.0
            2014             391.0
            2015             395.0
            2016             392.0
            2017             391.0
            2018             387.0
            2019             393.0
            2021             391.0
            2022             390.0
5           2008             471.0
            2009             478.0
            2010             475.0
            2011             472.0
            2012             472.0
            2013             476.0
            2014             474.0
            2015             476.0
            2016             466.0
            2017             468.0
            2018             467.0
            2019             466.0
            2021             469.0
            2022             470.0
7           2008             526.0
            2009             528.0
            2010             530.0
            2011             523.0
            2012             522.0
            2013             521.0
            2014             522.0
            2015             521.0
            2016             513.0
            2017             513.0
            2018             511.0
            2019             513.0
            2021             510.0
            2022             511.0
9           2008             567.0
            2009             569.0
            2010             566.0
            2011             562.0
            2012             559.0
            2013             560.0
            2014             559.0
            2015             559.0
            2016             552.0
            2017             550.0
            2018             552.0
            2019             551.0
            2021             548.0
            2022             550.0
Name: MEAN, dtype: float64

In [60]:
# Calculate descriptive statistics
print(data.describe())

# Group data by a specific column and calculate mean for other columns
print(data.groupby('DOMAIN').mean())

# Apply custom operations on a column
#data['new_column'] = data['column1'] + data['column2']
print(data.head())

       CALENDAR_YEAR    YEAR_LEVEL  ENROLLED_STUDENTS          MEAN  \
count   49175.000000  49175.000000       49175.000000  49175.000000
mean     2015.748205      5.990747        9319.209232    483.390558
std         4.141860      2.235362       14848.972117     74.213797
min      2008.000000      3.000000          31.000000    103.800000
25%      2012.000000      3.000000         845.000000    427.500000
50%      2016.000000      5.000000        3158.000000    493.400000
75%      2019.000000      7.000000       11020.000000    541.700000
max      2022.000000      9.000000       93415.000000    645.500000

            MEAN_CI       MEAN_SD           NMS        NMS_CI         GAIN  \
count  40331.000000  49175.000000  49175.000000  35531.000000  7488.000000
mean       7.558660     73.023026     86.394688      2.732656    56.314209
std        7.460133     14.088389     13.945122      3.156276    22.261277
min        0.000000     35.600000      3.000000      0.000000   -28.300000
25%        3.000000     64.100000     83.700000      0.800000    38.500000
50%        5.100000     69.900000     91.300000      1.500000    50.450000
75%        8.900000     78.700000     94.900000      3.300000    75.600000
max       87.400000    188.800000    100.000000     32.200000   134.000000

           GAIN_CI  ...      BANDCOL1      BANDCOL2      BANDCOL3  \
count  7488.000000  ...  49175.000000  49175.000000  49175.000000
mean     12.988301  ...     11.446029     15.446337     23.719886
std       7.725542  ...     13.552018      6.766341      6.480290
min       3.900000  ...      0.000000      0.000000      0.600000
25%       8.100000  ...      3.400000     10.500000     19.500000
50%      11.000000  ...      6.700000     14.800000     24.500000
75%      14.600000  ...     13.300000     19.800000     28.300000
max      69.800000  ...     96.000000     46.500000     43.700000

           BANDCOL4      BANDCOL5      BANDCOL6        PCTL05        PCTL20  \
count  49175.000000  49175.000000  49175.000000  43030.000000  43030.000000
mean      23.815164     15.045464      8.368667    361.841673    422.953737
std        6.870639      7.429482      7.961109     89.743459     80.584056
min        0.100000      0.000000      0.000000   -164.000000    -35.100000
25%       20.300000      9.300000      2.700000    296.600000    364.200000
50%       25.100000     15.100000      5.900000    377.400000    436.000000
75%       28.700000     20.500000     11.500000    430.400000    484.700000
max       51.500000     45.800000     54.800000    548.900000    585.800000

             PCTL80        PCTL95
count  43030.000000  43030.000000
mean     543.740744    600.759558
std       69.153008     67.271012
min      235.200000    324.800000
25%      492.400000    552.625000
50%      551.800000    608.300000
75%      598.400000    653.700000
max      722.200000    807.900000

[8 rows x 28 columns]
                         CALENDAR_YEAR  YEAR_LEVEL  ENROLLED_STUDENTS  \
DOMAIN
Grammar and Punctuation    2015.519847    5.991354        9323.082629
Numeracy                   2015.521419    5.990568        9323.040676
Reading                    2015.520727    5.991159        9321.322986
Spelling                   2015.519210    5.991255        9323.994989
Writing                    2016.844718    5.989128        9301.643347

                               MEAN   MEAN_CI    MEAN_SD        NMS    NMS_CI  \
DOMAIN
Grammar and Punctuation  485.578159  8.053567  76.801906  85.359403  2.839921
Numeracy                 485.923118  6.806139  65.152240  89.750865  2.448582
Reading                  490.936267  7.511563  72.594116  87.835000  2.624647
Spelling                 486.390891  7.237100  75.653867  86.242174  2.701096
Writing                  465.027109  8.267205  75.296679  82.053841  3.096909

                              GAIN    GAIN_CI  ...   BANDCOL1   BANDCOL2  \
DOMAIN                                         ...
Grammar and Punctuation  52.580240  15.723674  ...  12.478277  15.100648
Numeracy                 64.764646  10.929230  ...   8.118373  17.011181
Reading                  56.945770  12.676326  ...  10.006493  14.847033
Spelling                 60.378409  10.930934  ...  11.595844  13.984897
Writing                  43.372396  15.316233  ...  15.758544  16.458556

                          BANDCOL3   BANDCOL4   BANDCOL5   BANDCOL6  \
DOMAIN
Grammar and Punctuation  22.159442  22.557693  15.199440  10.343005
Numeracy                 26.680173  24.842887  14.152417   7.065877
Reading                  22.843811  23.968929  16.111395  10.063281
Spelling                 22.769696  24.537614  16.199548   8.751322
Writing                  24.232876  23.037651  13.264087   5.062066

                             PCTL05      PCTL20      PCTL80      PCTL95
DOMAIN
Grammar and Punctuation  357.945127  421.262910  550.110198  610.580684
Numeracy                 382.599882  431.046266  540.098968  596.679092
Reading                  370.976719  429.721454  552.371356  609.373517
Spelling                 354.157688  421.458532  551.863145  608.422892
Writing                  334.232250  407.824545  526.206890  579.840499

[5 rows x 28 columns]
   CALENDAR_YEAR  YEAR_LEVEL                   DOMAIN STATE  \
0           2008           3  Grammar and Punctuation   ACT
1           2008           3  Grammar and Punctuation   ACT
2           2008           3  Grammar and Punctuation   ACT
3           2008           3  Grammar and Punctuation   ACT
4           2008           3  Grammar and Punctuation   ACT

                          SUBGROUP  ENROLLED_STUDENTS   MEAN  MEAN_CI  \
0     Parental Education: Bachelor                167  445.2      NaN
1  Parental Education: Certificate                 72  396.1      NaN
2      Parental Education: Diploma                 52  401.4      NaN
3   Parental Education: Not stated               4009  419.8      NaN
4                        Non-LBOTE               3852  421.2      6.2

   MEAN_SD   NMS  ...  BANDCOL5  BANDCOL6  PCTL05  PCTL20  PCTL80  PCTL95  \
0     79.7  95.8  ...      23.4      37.0   308.7   381.3   513.0   565.4
1     91.0  90.0  ...      15.3      20.3   240.9   319.4   476.6   546.1
2     69.1  96.9  ...      24.2      12.3   283.7   342.1   456.3   519.2
3     82.7  93.7  ...      23.5      23.9   278.0   351.0   489.8   551.1
4     82.5  94.4  ...      23.7      24.6   279.6   352.5   491.1   552.4

   NOD_MEAN_PREV  NOD_NMS_PREV  NOD_MEAN_BASE  NOD_NMS_BASE
0           None          None           None          None
1           None          None           None          None
2           None          None           None          None
3           None          None           None          None
4           None          None           None          None

[5 rows x 37 columns]

C:\Users\killb\AppData\Local\Temp\ipykernel_20852\1604730057.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(data.groupby('DOMAIN').mean())

In [39]:
DOM = 'SELECT DOMAIN FROM naplan_results_clean'
data1 = pd.read_sql_query(DOM, engine)
print(data1.head(100))

                     DOMAIN
0   Grammar and Punctuation
1   Grammar and Punctuation
2   Grammar and Punctuation
3   Grammar and Punctuation
4   Grammar and Punctuation
..                      ...
95  Grammar and Punctuation
96  Grammar and Punctuation
97  Grammar and Punctuation
98  Grammar and Punctuation
99  Grammar and Punctuation

[100 rows x 1 columns]